---
import services from '@data/serviceData.json';
import { Icon } from 'astro-icon/components';

---

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
            </div>
            <p class="cs-text">
                Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
            </p>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Answer a Few Questions</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Complimentary Call</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Grow Your Wealth</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dollar-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Financial Consultants</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/layer-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Brand Amplify Strategies</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chart-GOLD.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Growth Catalyst Solutions</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            {services.map(service => (
                
                <li class="cs-item" key={service.Name}>
                    <a href={`/${service.Name}`} class="cs-link">
                        <picture class="cs-picture">
                            <Icon width="32" height="32" class="cs-icon" name={`${service.IconName}`}/>
                            <img class="cs-icon"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chart-GOLD.svg"
                                    loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                    </a>
                    
                    
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            <a href={`/${service.Name}`} class="cs-link">    
                                {service.FormalName}                    
                            </a>
                        </h3>
                        <p class="cs-item-text">
                            {service.ShortDescription}   
                        </p>
                    </div>
                </li>
            ))}
        </ul>
        <a href="" class="cs-button-solid">View All Services</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->
<section id="services-1254">
    <div class="cs-container mb-3">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Learn About What We Do</h2>
            </div>
            <p class="cs-text">
                From screwing in a light bulb to building a deck — we’re your 24/7 team for any and all construction and contracting projects in Maryland!
            </p>
        </div>
        <ul class="cs-card-group">
            {services.map(service => (
                <li class="cs-item" key={service.Name}>
                    <a href={`/${service.Name}`} class="cs-link">
                        <h3 class="cs-h3">{service.FormalName}</h3>
                        <p class="cs-item-text">
                            {service.ShortDescription}
                        </p>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcSet={`/assets/images${service.ImagePath}-m.webp`} />
                        <source media="(min-width: 601px)" srcSet={`/assets/images${service.ImagePath}.webp`} />
                        <img decoding="async" loading="lazy" src={`/assets/images${service.ImagePath}.webp`} alt={service.FormalName} width="413" height="374" aria-hidden="true" />
                    </picture>
                </li>
            ))}
        </ul>
    </div>
</section>

<style lang="less">

</style>