---
import { ViewTransitions } from "astro:transitions";
import client from "@data/client.json";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/root.less";
import "@styles/dark.less";

const { description, title, preloadedImage } = Astro.props;

---
<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->
<html lang="en">
        <head>
            <!-- View Transitions support -->
            <ViewTransitions />

            <!-- Standard meta tags -->
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content={description}>
            <meta name="keywords" content="">
            <link rel="canonical" href={`https://${client.domain}${Astro.url.pathname}`}>


            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "LocalBusiness",
                    "name": "Remediation & Restoration Marketing",
                    "image": "https://remediationrestorationmarketing.com/assets/images/logo-small.jpg",
                    "@id": "",
                    "url": "https://remediationrestorationmarketing.com",
                    "telephone": "7176886786",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "1000 Carlisle St, STE 1625, Room 2",
                        "addressLocality": "Hanover",
                        "addressRegion": "PA",
                        "postalCode": "17331",
                        "addressCountry": "US"
                    },
                    "sameAs": [
                        "https://www.facebook.com/remediationrestorationmarketing",
                        "https://www.youtube.com/@RandR_Marketing",
                        "https://www.instagram.com/randr.marketing/",
                        "https://remediationrestorationmarketing.com"
                    ],
                    "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 39.8172159,
                    "longitude": -76.99499730000001
                    },
                    "openingHoursSpecification": {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday"
                    ],
                    "opens": "09:00",
                    "closes": "10:00",
                    } 

                    
                }
            </script>

            <!-- Preloads the image passed as a prop -->
            <link rel="preload" href={preloadedImage.src} as="image" />

            <!--Social Media Display-->
            <meta property="og:title" content={title} />
            <meta property="og:description" content={description} />
            <meta property="og:type" content="website" />
            <meta property="og:url" content={`https://${client.domain}${Astro.url.pathname}`} />
            <meta property="og:image" content="/assets/images/logo-small.jpg" />
            <meta property="og:image:secure_url" content="/assets/images/logo-small.jpg" />
            <link rel=sitemap href=/sitemap-index.xml>

            <!--Favicons-->
            <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
            <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
            <link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
            <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
            <link rel="manifest" href="/assets/favicons/site.webmanifest" />
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
         
            <!--For home page, use service keywords for the title, including location for SEO.
            Other pages should just include the page name.
            
            EXAMPLE:
            Home page - House Painting Contractors | Painters and Co. | TestCity, WA
            About Page - About us | Painters and Co.
            -->
            <title>
                {(`${ title } | ${ client.name }`)
                }
            </title>

            <!-- Decap CMS scripts -->
            {Astro.url.pathname === "/" &&
                <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
                <script defer>
                    if (window.netlifyIdentity) {
                        window
                            .netlifyIdentity
                            .on('init', (user) => {
                                if (!user) {
                                    window
                                        .netlifyIdentity
                                        .on('login', () => {
                                            document.location.href = '/admin/';
                                        });
                                }
                            });
                    }
                </script>
            }

            <!-- Sitewide Scripts -->
            <script src="../assets/js/nav.js"></script>
            <!-- Calendly badge widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/matt-remediationrestorationmarketing/30min', text: 'Schedule a strategy session', color: '#00487c', textColor: '#ffffff' }); }</script>
            <!-- Calendly badge widget end -->
        </head>
        <body>
            <!--Screen reader skip main nav-->
            <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>
    
            <Header />
            <main id="main">
                <slot/>
            </main>
            <Footer />
    
        </body>
</html>